@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-BoldItalic.ttf);
    font-weight: 700;
}