@media (min-width: $break-mobile) {
    .flag{
        top: -4.4rem;
    }

    header{
        height: 4.4rem;
    }

    .nav-bar{
        padding: 24px $padding-tablet;

        &_logo{
            width: 2rem;
            height: 2rem;
        }

        &_links-container:not(.mobile){
            display: block;
        }

        &_menu{
            &.mobile{
                display: none;
            }
        }
    }

    .hero{
        padding: 4rem $padding-tablet;
    }

    .footer{
        &_container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: $padding-mobile;
        }

        &_contact{
            padding: $padding-mobile $padding-tablet;
        }

        &_link-container{
            padding: $padding-mobile $padding-tablet;
        }

        &_legal{
            flex-direction: row;
            padding: $padding-mobile $padding-tablet;
        }
    }
}

@media (min-width: $break-tablet) {
    html{
        font-size: $font-medium-desktop;
    }

    .flag{
        top: -3.9rem;
    }

    header{
        height: 3.9rem;
    }
}