$color-black: #0D0D0D;
$color-light: #F2F2F2;
$color-white: #FFFFFF;
$color-third: #B59411;
$color-quad: #222;

$font-medium-mobile: 20px;

$font-medium-desktop: 25px;
// $font-large-desktop: 45px;

$padding-mobile: 32px;
$padding-tablet: 48px;

$break-mobile: 642px;
$break-tablet: 980px;
// $break-desktop: 1920px;

$transition-time: 1.5s;