@import "./general/general.css";

/*Variables*/
:root {
    --content-padding: 12%;
}

/*---General---*/
html{
    min-width: 400px;
    min-height: 100vh;
    background-color: var(--second-color);

    scrollbar-width: none;
}

::-webkit-scrollbar{
    width: 0;
}

body{
    width: 100%;
    min-height: 100vh;

    background-color: var(--main-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.alt-color{
    background-color: var(--second-color);
    color: var(--main-color);
}

/*---header---*/
header{
    padding: var(--border-padding);
}

/*---main---*/
main{
    width: 100%;
}

main .title{
    height: 75vh;
    margin: 0 var(--content-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
main .title > *{
    transform: translateY(-50px);
}
main .title h1{
    font-size: 3.5rem;
    font-weight: 800;
    overflow: hidden;
    font-family: "Asap";
}
main .title h2{
    font-size: 1.8rem;
    font-weight: 200;
    overflow: hidden;
}

main .preview{
    position: relative;
    height: 100vh;
    min-height: 384px;
    background-color: var(--second-color);
    overflow: hidden;
}
main .preview_bg{
    --overflow: 10vh;
    position: absolute;
    width: 100%;
    height: calc(100% + (2 * var(--overflow)));
    top: calc(-1 * var(--overflow));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    will-change: transform;
}

main .description{
    padding: 4% var(--content-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
main .description h3{
    margin-bottom: 4%;
    font-size: 1.8rem;
    font-weight: 800;
}
main .description .cta{
    margin-top: 4%;
}

main .splitshow{
    padding: 4% var(--content-padding);
    display: flex;
}
main .splitshow_col{
    flex: 1;
}
main .splitshow_col-left{
    margin-right: 2%;
}
main .splitshow_col-right{
    margin-left: 2%;
}
main .splitshow_col-down{
    margin-top: 8%;
}
main .splitshow_item{
    margin: 8% 0;
}
main .splitshow_item .paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .splitshow_item .paragraph h4{
    margin-bottom: 4%;
    font-size: 1.4rem;
    font-weight: 800;
}
main .splitshow_item img{
    width: 100%;
}


.splitting_letter{
    display: inline-block;
    transform: translateY(100%);
}

/*---footer---*/
footer{
    padding: var(--border-padding);
}
