@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Spectral;
  src: url(./fonts/Spectral/Spectral-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Spectral;
  src: url(./fonts/Spectral/Spectral-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Spectral;
  src: url(./fonts/Spectral/Spectral-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Spectral;
  src: url(./fonts/Spectral/Spectral-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Spectral;
  src: url(./fonts/Spectral/Spectral-BoldItalic.ttf);
  font-weight: 700;
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2rem;
  color: #0D0D0D;
  background-color: #FFFFFF;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #0D0D0D;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: #0D0D0D;
}

h2 {
  font-family: Spectral;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.4rem;
  color: #0D0D0D;
}

animate-btn {
  --first-color: #B59411;
  --ripple-color: #FFFFFF;
  --text-color: #0D0D0D;
  --font-family: "Roboto";
  --font-weight: 700;
}

.flag {
  position: absolute;
  top: -3.2rem;
}

/*---Header---*/
header {
  position: relative;
  height: 3.2rem;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 32px;
  z-index: 100;
  background-color: #F2F2F2;
  transition: top 0.4s;
}
.nav-bar.hidden {
  top: -100%;
}
.nav-bar_logo {
  width: 1.6rem;
  height: 1.6rem;
}
.nav-bar_links-container:not(.mobile) {
  display: none;
}
.nav-bar_link {
  margin-left: 0.6rem;
  transition: color 0.2s;
}
.nav-bar_link:hover {
  color: #B59411;
}
.nav-bar_link.select {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.4rem;
}
.nav-bar_menu {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(./images/shared/menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-bar_menu.opened {
  background-image: url(./images/shared/x.svg);
}
.nav-bar_menu:not(.mobile) {
  display: none;
}
.nav-bar_menu:hover {
  cursor: pointer;
}

.nav-menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-color: #FFFFFF;
}
.nav-menu.opened {
  display: flex;
}
.nav-menu:not(.mobile) {
  display: none;
}
.nav-menu_link {
  font-size: 1.25rem;
  margin: 32px 0;
  text-underline-offset: 0.4rem;
  transition: color 0.2s;
}
.nav-menu_link:hover {
  color: #B59411;
}
.nav-menu_link.select {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/*---Main---*/
.hero {
  padding: 4rem 32px;
  background-color: #0D0D0D;
}
.hero_title {
  color: #FFFFFF;
}
.hero_subtitle {
  color: #FFFFFF;
}

/*---Footer---*/
footer {
  position: relative;
  background-color: #F2F2F2;
}

.footer_container {
  margin-bottom: 64px;
}
.footer_contact {
  padding: 32px;
  background-color: #F2F2F2;
}
.footer_contact_info {
  margin-bottom: 0.6rem;
}
.footer_contact_info_label {
  font-size: 0.8rem;
  font-weight: 300;
}
.footer_link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
}
.footer_link {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.4rem;
  background-image: var(--img-url);
  background-repeat: no-repeat;
  background-size: contain;
}
.footer_legal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  background-color: #FFFFFF;
  font-size: 0.8rem;
}
.footer_legal span {
  font-weight: 700;
}
.footer_legal_logo {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0.8rem;
  background-image: url(./images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.alt-color {
  background-color: #0D0D0D;
  color: #FFFFFF;
}

.alt-color a {
  color: #FFFFFF;
}

.alt-color a:hover {
  color: #B59411;
}

/*---Main---*/
.preview {
  position: relative;
  height: 100vh;
  min-height: 384px;
  background-color: #F2F2F2;
  overflow: hidden;
}
.preview_bg {
  --overflow: 10%;
  position: absolute;
  width: 100%;
  height: calc(100% + (2 * var(--overflow)));
  top: calc(-1 * var(--overflow));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  will-change: transform;
}

.description {
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #0D0D0D;
  color: #FFFFFF;
  font-size: 1.25rem;
  line-height: 1.8rem;
}
.description_text {
  padding-bottom: 2rem;
  font-weight: 300;
}
.description_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.description_links :not(:first-child) {
  margin-top: 32px;
}

.splitshow {
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.splitshow_col {
  flex: 1;
}
.splitshow_item {
  margin-bottom: 32px;
}
.splitshow_item_paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.splitshow_item_paragraph_title {
  margin-bottom: 0.8rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.8rem;
  width: 100%;
  text-align: center;
}
.splitshow_item_paragraph_subtitle {
  font-size: 0.8rem;
}
.splitshow_item img {
  width: 100%;
}

@media (min-width: 642px) {
  .flag {
    top: -4.4rem;
  }

  header {
    height: 4.4rem;
  }

  .nav-bar {
    padding: 24px 48px;
  }
  .nav-bar_logo {
    width: 2rem;
    height: 2rem;
  }
  .nav-bar_links-container:not(.mobile) {
    display: block;
  }
  .nav-bar_menu.mobile {
    display: none;
  }

  .hero {
    padding: 4rem 48px;
  }

  .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 32px;
  }
  .footer_contact {
    padding: 32px 48px;
  }
  .footer_link-container {
    padding: 32px 48px;
  }
  .footer_legal {
    flex-direction: row;
    padding: 32px 48px;
  }
}
@media (min-width: 980px) {
  html {
    font-size: 25px;
  }

  .flag {
    top: -3.9rem;
  }

  header {
    height: 3.9rem;
  }
}
@media (min-width: 642px) {
  .description {
    padding-left: 48px;
    padding-right: 48px;
  }
  .description_links {
    align-items: flex-start;
  }

  .splitshow {
    padding-left: 48px;
    padding-right: 48px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .splitshow_col-left {
    margin-right: 16px;
  }
  .splitshow_col-right {
    margin-left: 16px;
  }
  .splitshow_col-down {
    margin-top: 64px;
  }
}

/*# sourceMappingURL=work.css.map */
