@media (min-width: $break-mobile) {

    .projets{
        padding-left: $padding-tablet;
        padding-right: $padding-tablet;

        &_nav{
            flex-direction: row;
            align-items: center;
            margin-bottom: $padding-mobile;

            &_link{
                &:not(:nth-child(1)){
                    margin-top: 0;
                    margin-left: 1rem;
                }
            }
        }

        &_container{
            grid-template-columns: 1fr 1fr;
            grid-gap: .8rem;
        }
    }

    .description{
        padding-left: $padding-tablet;
        padding-right: $padding-tablet;
    }
}