@use "generals/fonts" as *;
@use "generals/variables" as *;
@use "generals/general" as *;


/*---Main---*/
.break{
    height: (4 * $padding-mobile);
    background-color: $color-light;
}

.projets{
    position: relative;
    padding: (2 * $padding-mobile) $padding-mobile;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: $color-white;

    &_nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 4rem;

        &_link{
            font-weight: 300;

            &:not(:nth-child(1)){
                margin-top: .8rem;
            }

            transition: color .2s;

            &:hover{
                color: $color-third;
            }
        }
    }

    &_category{
        position: relative;
        width: 100%;
        margin-bottom: 1rem;

        &:not(:nth-child(3)){
            margin-top: 2rem;
        }

        &_name{
            display: inline-block;
            vertical-align: top;
        }

        &_nb{
            display: inline-block;
            margin-left: 4px;
            vertical-align: top;
            font-size: .6rem;
            font-weight: 300;
            font-family: Spectral;
            color: $color-third;
        }
    }

    &_container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;

    }

    &_card{
        position: relative;
        width: 100%;
        aspect-ratio: 1.6;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: $padding-mobile;

        background-color: $color-light;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: $color-white;
        font-size: 1.25rem;
        font-weight: 700;
        // font-style: italic;
        // font-family: Spectral;

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $color-black;
            z-index: 1;
            mix-blend-mode: multiply;
            opacity: .4;
            transition: opacity .2s;
        }

        &:hover{
            &::before{
                opacity: .6;
            }
        }

        &_title{
            z-index: 2;
        }
    }
}

.description{
    position: relative;
    padding: (2 * $padding-mobile) $padding-mobile;
    font-size: 1.25rem;
    line-height: 1.8rem;

    p{
        margin-bottom: .6rem;
    }

    &_bold{
        font-weight: 700;

        span{
            font-weight: 900;
        }
    }

    &_regular{
        font-family: Spectral;
        font-weight: 300;

        span{
            font-style: italic;
            text-underline-offset: .4rem;
            text-decoration: underline;
            text-decoration-thickness: 1px;
        }
    }
}

@import "./generals/general_responsive";
@import "./index/responsive";