/*---Fonts---*/
@font-face {
    font-family: "Roboto";
    src: url("../../font/Roboto/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
}
@font-face {
    font-family: "Roboto";
    src: url("../../font/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "Roboto";
    src: url("../../font/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("../../font/Roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "Cormorant";
    src: url("../../font/Cormorant/Cormorant-Bold.ttf") format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "Cormorant";
    src: url("../../font/Cormorant/Cormorant-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Cormorant";
    src: url("../../font/Cormorant/Cormorant-Light.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "Asap";
    src: url("../../font/Asap/Asap-Bold.ttf") format("truetype");
    font-weight: 800;
}
